{% extends 'market/layout.html' %}
{% load static %}

{% block body %}

    <h2>Checkout</h2>

    <div class="row">
        <div class="col-md-6">
            <h4>Order Summary</h4>
            {% if selected_goods %}
                <ul>
                    {% for goods in selected_goods %}
                        <li>
                            <strong>{{ goods.name }}</strong>
                            <br>
                            Price: ${{ goods.price }}
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Your cart is empty. Add goods to create your order!</p>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Total Price: ${{ total_price }}</h4>
        </div>
    </div>

    <form method="post" action="{% url 'order_checkout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Place Order</button>
    </form>

{% endblock %}

{% block script %}
    <script src="{% static 'market/index.js' %}"></script>
{% endblock %}